{% extends 'layout.html' %}

{%block content %}

<form action = "/resultado" method = "POST">
    <label> N1: </label>
    <input type="text" name="n1"/><br>
    <label> N2: </label>
    <input type="text" name="n2"/><br>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="operaciones" value="suma" id="suma" >
        <label class="form-check-label" for="suma">
            Suma
        </label>
    
        <input class="form-check-input" type="radio" name="operaciones" value="resta" id="resta">
        <label class="form-check-label" for="resta">
            Resta
        </label>

        <input class="form-check-input" type="radio" name="operaciones" value="multiplicacion" id="multiplicacion">
        <label class="form-check-label" for="multiplicacion">
            Multiplicacion
        </label>

        <input class="form-check-input" type="radio" name="operaciones" value="divicion" id="divicion">
        <label class="form-check-label" for="divicion">
            Divicion
        </label>
    </div>
    <input type="submit"/>
</form>

{% endblock %}